/*Início da solução para centralizar verticalmente conteúdo em uma div*/

.container {
    width: 100%;
    height: 18.750em;
    position: relative;
    display: table;
}

.container p {
    *position: absolute;
    top: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: justify;
    line-height: 1.9;
}

.container figure {
    *position: absolute;
    top: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.container span {
    display: block;
    *position: relative;
    top: -50%;
}


/*Fim da solução para centralizar verticalmente conteúdo em uma div*/

.texto-meu-sonho {
    float: left;
    width: 60%;
}

.imagem-meu-sonho {
    float: right;
    width: 35%;
}

.imagem-novos-horizontes-gilhotina {
    float: left;
    width: 35%;
}

.texto-novos-horizontes-gilhotina {
    float: right;
    width: 60%;
}

.imagem-novos-horizontes-dobradeira {
    float: left;
    width: 35%;
    clear: both;
}

.texto-novos-horizontes-dobradeira {
    float: left;
    width: 30%;
}

.imagem-novos-horizontes-tipografia {
    float: right;
    width: 35%;
}

.texto-novos-horizontes-offset {
    float: left;
    width: 60%;
    clear: both;
}

.imagem-novos-horizontes-offset {
    float: right;
    width: 35%;
}

.imagem-novos-horizontes-solna {
    float: left;
    width: 35%;
    clear: both;
}

.texto-novos-horizontes-solna {
    float: right;
    width: 60%;
}


/*configurando tempo de abertura de imagem e tamanho máximo para dar o efeito zoom*/

figure img {
    max-width: 100%;
    -moz-transition: all 1.0s;
    -webkit-transition: all 1.0s;
    transition: all 1.0s;
}


/*ativando o zoom das imagens*/

figure:hover img {
    /*da efeito esfumaçado na imagem*/
    box-shadow: 0px 0px 9.375em #000000;
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(3.0);
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(3.0);
    transition: all 200ms ease-in;
    transform: scale(3.0);
}


/*configurando tamanho de todas as figuras*/

figure {
    width: 50%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding: 1em;
}


/*configuração do local onde vai a imagem*/

.local-img {
    width: 100%;
    /*configura a prioridade da imagem*/
    z-index: 2;
}