section p:first-child::first-letter {
    font-size: 2em;
    margin-right: .1ch;
}


/*configurando tempo de abertura de imagem e tamanho máximo para dar o efeito zoom*/

figure img {
    -moz-transition: all 1.0s;
    -o-transition: all 1.0s;
    -webkit-transition: all 1.0s;
    -ms-transition: all 1.0s;
    transition: all 1.0s;
}


/*ativando o zoom das imagens*/

figure:hover img,
figure:focus img {
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .3);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    z-index: 99999;
}


/*configurando tamanho de todas as figuras*/

figure {
    width: 100%;
    text-align: center;
}