.contato form {
    position: relative;
    margin: auto;
    width: 60%;
}

.contato fieldset {
    border: 0;
}

.contato fieldset>fieldset {
    display: inline;
}

.contato input[name="nome"],
.contato input[name="email"] {
    width: calc(100% - 2em);
    position: relative;
    left: 2em;
}

.contato textarea {
    width: 100%;
}

.contato label[for="nome"],
.contato label[for="email"],
.contato label[for="mensagem"] {
    display: block;
}

.contato #lNome,
.contato #lEmail {
    position: relative;
}

.contato #lNome:after,
.contato #lEmail:after {
    content: "";
    position: absolute;
    width: 2em;
    height: 1.5em;
    top: 100%;
    left: 0;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, .8);
}

.contato #lNome:after {
    background-image: url(../img/usuario.png);
}

.contato #lEmail:after {
    background-image: url(../img/email.png);
}

.contato textarea {
    resize: none;
}

.contato button[type="submit"] {
    position: absolute;
    right: 0;
    margin: 5px 0;
    font: inherit;
    background-color: rgba(0, 0, 0, .8);
    color: #FFF;
    right: .7em;
}

.contato input[name="nome"]:invalid,
.contato input[name="email"]:invalid,
.contato textarea:invalid {
    box-shadow: 0 0 0 1px rgb(250, 128, 114);
}

.contato input[type="text"]:focus,
.contato input[type="text"]:hover,
.contato input[type="email"]:focus,
.contato input[type="email"]:hover,
.contato textarea:focus,
.contato textarea:hover {
    background-color: rgb(240, 230, 140);
}

.contato input[value="Outro"]~input {
    display: none;
}

.contato input[value="Outro"]:checked~input {
    display: inline;
}