.contato form {
    position: relative;
    margin: auto;
    width: 60%;
}

.contato fieldset>fieldset {
    display: inline;
}

input[name="nome"],
input[name="email"],
textarea {
    display: block;
    width: 100%;
}

textarea {
    resize: none;
}

button[type="submit"] {
    position: absolute;
    right: 0;
    margin: 5px 0;
    font: inherit;
}