sectiom {
    overflow: auto;
}

li {
    margin-top: 1em;
}

.ano-boletim-formacao:hover+.boletim-nota,
.ano-boletim-formacao:focus+.boletim-nota {
    display: block;
}

.boletim-nota:hover,
.boletim-nota:focus {
    display: block;
}

.ano-boletim-formacao:hover::after+.boletim-nota,
.ano-boletim-formacao:focus::after+.boletim-nota {
    display: block;
}

a {
    position: relative;
}

.ano-boletim-formacao:hover::after,
.ano-boletim-formacao:focus::after {
    content: "";
    background-color: transparent;
    position: absolute;
    top: 6%;
    left: 0%;
    width: 200px;
    height: 200px;
}

.boletim-nota {
    margin-top: 2em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: .6em;
    empty-cells: show;
    border: 1px solid #000;
    display: none;
    z-index: 9999;
}

.boletim-nota>caption {
    text-align: left;
    font-weight: bold;
    font-size: 2em;
    border-bottom: .2em solid rgba(0, 0, 0.8);
    margin-bottom: .5em;
}


/* basic shared rules */

.boletim-nota th,
.boletim-nota td {
    text-align: center;
    padding-right: .5em;
}

.boletim-nota th {
    font-weight: bold;
    padding-left: .5em;
}


/* header */

.boletim-nota>thead>tr:first-child>th,
.boletim-nota>thead>tr:nth-child(2)>th {
    text-align: center;
    color: #FFF;
}

.boletim-nota>thead>tr+tr>th {
    font-style: italic;
    color: gray;
    border: 1px solid black;
}


/* fix size of superscript */

.boletim-nota sup {
    font-size: 75%;
}


/* body */

.boletim-nota td {
    background-color: #FFF;
    padding: .5em .5em .5em 3em;
}


/* footer */

.boletim-nota tfoot {
    font-weight: bold;
}

.boletim-nota tfoot th {
    text-align: center;
    color: #FFF;
}

.boletim-nota tfoot th:after {
    content: "";
}

.boletim-nota>tfoot td {
    background-color: #FFFAFA;
}