.home figure {
    padding-top: 1em;
    margin: 0 auto;
    max-width: 100%;
}

.home img {
    max-width: 100%;
    border-radius: 180px;
    box-shadow: 1px 10px 100px black;
    position: relative;
    left: 50%;
    transform: -webkit-translate (-50%);
    transform: -moz-translate(-50%);
    transform: -o-translate(-50%);
    transform: -webkit-translate(-50%);
    transform: -ms-translate(-50%);
    transform: translate(-50%);
}