.iFrame-temporario {
    width: 100%;
    height: 5700px;
    border: 0;
}

* {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 140%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

body {
    margin: auto;
    background-color: rgb(248, 248, 248);
}

body p {
    font-family: 'Indie Flower', cursive;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.5em;
    padding-left: 1em;
    padding-right: 2em;
}

.body-principal {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    /*max-width: 1620px;*/
    margin-top: 6.875em;
    margin-bottom: 3.750em;
}

.conteudo a {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    color: #1E90FF;
}

.conteudo h2 {
    color: #FFF;
    text-transform: uppercase;
    clear: both;
    margin: 0;
}

.conteudo a:hover {
    text-decoration: underline;
    color: blue;
}

.clear-fix {
    clear: both;
}

.header-principal {
    border: 0.200em solid #000;
    width: 100%;
    height: 6.250em;
    -moz-overflow: hidden;
    -o-overflow: hidden;
    -webkit-overflow: hidden;
    -ms-overflow: hidden;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(55, 89, 85);
    background: -moz-linear-gradient(top, rgb(55, 89, 85), rgb(131, 168, 164));
    background: -o-linear-gradient(top, rgb(55, 89, 85), rgb(131, 168, 164));
    background: -webkit-linear-gradient(top, rgb(55, 89, 85), rgb(131, 168, 164));
    background: -ms-linear-gradient(top, rgb(55, 89, 85), rgb(131, 168, 164));
    color: white;
}

.header-principal h1 {
    text-align: left;
    margin: 0.625em 0;
    padding-left: 0.938em;
    float: left;
    display: block;
    width: 50%;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    /*font-family: 'Shrikhand', cursive;*/
}

.header-principal nav {
    float: right;
    display: block;
    width: 50%;
    box-sizing: border-box;
    text-align: right;
    padding-right: 1.875em;
}

.header-principal nav ul {
    list-style: none;
}

.header-principal nav ul li {
    display: inline-block;
    padding-right: 0.625em;
}

.header-principal nav ul li a {
    text-decoration: none;
    color: white;
}

.header-principal nav ul li a:hover {
    text-decoration: underline;
}

.main {
    clear: both;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.125em;
    box-sizing: border-box;
    background-color: rgb(55, 89, 85);
    background: -moz-linear-gradient(top, rgb(55, 89, 85), rgb(131, 168, 164));
    background: -o-linear-gradient(top, rgb(55, 89, 85), rgb(131, 168, 164));
    background: -webkit-linear-gradient(top, rgb(55, 89, 85), rgb(131, 168, 164));
    background: -ms-linear-gradient(top, rgb(55, 89, 85), rgb(131, 168, 164));
    color: white;
}

.footer-register {
    box-sizing: border-box;
    float: left;
    width: 18.750em;
    text-align: center;
    position: relative;
    top: -0.625em;
}

.footer-social {
    box-sizing: border-box;
    float: right;
    width: 18.750em;
    display: block;
    position: relative;
    top: -0.625em;
}

.footer-social ul {
    list-style: none;
}

.footer-social ul li {
    list-style: none;
    display: inline-block;
    margin-right: 0.625em;
}

.footer-social ul li a {
    text-decoration: none;
    color: white;
    width: 2.500em;
    height: 2.500em;
    display: block;
    text-indent: -6249.938em;
}

.footer-social-github {
    background-image: url(../img/github.png);
    background-repeat: no-repeat;
}

.footer-social-linkedin {
    background-image: url(../img/linkedin.png);
    background-repeat: no-repeat;
}

.footer-social-twitter {
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;
}

.borda-eslilizada-1 {
    border: 0.125em solid black;
    border-radius: 0.938em;
    padding: 0.188em 0.750em 0.188em 0.750em;
    background-color: #B3A742;
    background: -moz-linear-gradient(top, rgb(55, 89, 85), rgb(131, 168, 164) 10%);
    background: -o-linear-gradient(top, rgb(55, 89, 85), rgb(131, 168, 164) 10%);
    background: -webkit-linear-gradient(top, rgb(55, 89, 85), rgb(131, 168, 164) 10%);
    background: -ms-linear-gradient(top, rgb(55, 89, 85), rgb(131, 168, 164) 10%);
    box-shadow: 0.313em 0.313em 0.313em rgba(0, 0, 0, 0.5);
    width: 98%;
}